<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Book Catalog</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/icomoon.css">
	<link rel="stylesheet" type="text/css" href="/css/vendor.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">


<div id="header-wrap">
	<header id="header">
		<div class="container-fluid">
			<div class="d-flex flex-row justify-content-between">

				<h1>Book Catalog</h1>
				<div class="d-flex flex-row">
					<a href="" class="text-decoration-none fs-1"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
						<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
					</svg></i></a>
				</div>
			</div>
		</div>
	</header>
</div>
<div class="container">
	<form class="w-100 d-flex" id="searchForm" method="GET" th:action="@{/homepage/search}">
		<input class="w-100 m-0" type="text" id="searchInput" name="keyword" placeholder="Search books...">
		<button class="m-0" type="submit">Search</button>
	</form>

	<table class="w-100" id="bookTable">
		<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Category</th>
			<th>Price ($)</th>
			<th>Stock</th>
		</tr>
		</thead>
		<tbody>
		<!-- Thymeleaf loop to display books -->
		<tr th:each="book : ${books}">
			<td th:text="${book.title}"></td>
			<td th:text="${book.author}"></td>
			<td th:text="${book.category}"></td>
			<td th:text="${book.price}"></td>
			<td th:text="${book.stock}"></td>
		</tr>
		</tbody>
	</table>
</div>

<footer id="footer">
	<div class="container">

	</div>
	</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>